@model Projekt1.Models.LoginView
<div id="loginPopUp" >
   @using (Html.BeginForm("Login","Account",FormMethod.Post)){
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Login</span>
                </div>
                <input type="text" asp-for="UserName"  class="form-control"/>
                
        </div>
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Hasło</span>
                </div>
                <input type="password" asp-for="Password"  class="form-control"/>
                
        </div>
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"  id="inputGroup-sizing-default">Zapamiętać?</span>
                </div>
                <input type="checkbox" asp-for="RememberMe"  class="form-control"/>
                
        </div>
        <div>
            <input type="submit" value="Zaloguj" class="btn btn-primary"/>
        </div>                 
    }
</div>