@model Projekt1.Models.LoginView
<div id="loginPopUp" >
   @using (Html.BeginForm("Login","Account",FormMethod.Post))
   {
       <div asp-validation-summary="ModelOnly"></div>
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" asp-for="UserName"  class="form-control"/>
                
        </div>
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" asp-for="Password"  class="form-control"/>
                
        </div>
        <div class="input-group input-group-sm mb-3">                
                 <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" asp-for="RememberMe"  />
                    </div>
                </div>
                <span class="form-control" aria-label="Text input with radio button">Zapamietac?</span>   
        </div>
        <div>
            <input type="submit" value="Zaloguj" class="btn btn-success btn-sm col align-self-end"/>
        </div>                 
    }
</div>