<div id="testContainer">

    <div class="pytanie" *ngIf="egzamin==true; then isEgzamin; else noEgzamin"></div>

    <ng-template #isEgzamin>
       
        <div class="row">
            <div class="col col-lg-4 p-4 card">
                <p class="align-self-center">{{indexPytanie + 1}}/{{questions1.length}}</p>
                <p class="align-self-center">{{czas}}</p>
                <p class="align-self-center">{{czasCalosci}}</p>
                <button id="bNastepne" class="btn btn-dark ">Nastepne</button> 
            </div>
            <div class="col col-lg-8 card p-4">
                <div class="sekcjaTresci">
                    <p>{{questions1[indexPytanie].content}}</p>
                    <hr class="bg-info"/>
                </div>
                <div *ngFor="let a of questions1[indexPytanie].answers; let ind=index" (click)="AddAnswerTaken(a,czas)">
                        <app-answer [answer]="a" [nr]="ind"></app-answer>
                </div>
            </div>
        </div> 
    


        <!-- <div class="sekcjaBoczna" style="font-size: 32px;">
            <p>{{indexPytanie + 1}}/{{questions1.length}}</p>
            <p>{{czas}}</p>
            <p>{{czasCalosci}}</p>
            <button id="bNastepne" class="btn btn-dark">Nastepne</button>  
        </div>

        <div class="sekcjaPytania">
            <div class="sekcjaTresci">
                <p>{{questions1[indexPytanie].content}}</p>
                <hr class="bg-info"/>
            </div>
            <div *ngFor="let a of questions1[indexPytanie].answers; let ind=index" (click)="AddAnswerTaken(a,czas)">
                    <app-answer [answer]="a" [nr]="ind"></app-answer>
            </div>
        </div> -->
       
    </ng-template>

    <ng-template #noEgzamin>

        <app-wynik [questions]="questions1" [answers]="answers"></app-wynik>

    </ng-template>

</div>