
@{
    ViewData["Title"] = "Home Page";
}

<div class="boble">
    <div>
        <h2><strong style="color:#e0c52c">Konfiguracja </strong> <strong>egzaminu</strong></h2>
        
        <p>Ustaw parametry egzaminu. Jeśli nie wiesz co wybrać skożystaj z gotowych wzorów albo przeczytaj o egzaminie <a style="color: darkblue;" href="#">tutaj</a></p>
    </div> 
</div>
<div class="boble">


</div>