<div>
    <div *ngFor="let q of questions;let myIn=index;">
        
        <h3>{{q.content}}</h3>
        <div *ngFor="let a of q.answers">
            <div *ngIf="a.correctnes==true" class="card bg-secondary p-4 text-light mb-5">                
                <p style="color: lightgreen; font-weight: 700;">Poprawna odpowiedź: {{a.content}}</p>
                <p>Twoja odpowiedz:{{answers[myIn].content}} </p>
                <p>Czas udzielania odpowiedzi: {{answers[myIn].time}}</p>
            </div>
        </div>
        
    </div>
</div>
