@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w aplikacji <b style="color:#e0c52c;font-weight:900;">Bud</b><b style="font-weight:900;">Egz</b></h1>
    <p>Dowiedź się więcej o <a href="https://docs.microsoft.com/aspnet/core">zdawaniu egzaminu budowlanego</a>.</p>
</div>
