@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Witamy w aplikacji <b style="color:#e0c52c;font-weight:900;">Bud</b><b style="font-weight:900;">Egz</b></h1>
    <p>Dowiedź się więcej o <a href="https://docs.microsoft.com/aspnet/core">zdawaniu egzaminu budowlanego</a>.</p>
</div>

<div class="boble">
    Morbi lacinia est sit amet enim pulvinar iaculis. Curabitur justo orci, sodales eu quam ut, interdum interdum purus. Integer egestas blandit mauris blandit placerat. Etiam tincidunt felis et elit porttitor, et ullamcorper urna venenatis. Ut convallis est eu imperdiet mollis. Maecenas egestas porttitor velit. Aliquam vel ex felis. Nullam mattis vitae neque ac dictum. Quisque sed placerat felis.


</div>