/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navLog{
  margin-left: 650px;
}
#testContainer{
  padding: 40px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto; 
  
}
.pytanie{
 margin: auto;
 display: none;
}
.sekcjaBoczna{
  float: left;
  background-color: lightslategray;
  padding: 30px;
  border-radius: 10px;
}
.sekcjaPytania{
  margin-left: 10px;
  background-color: lightgrey;
  padding: 30px;
  float: left;
  border-radius: 10px;
  min-width: 800px;
}
.sekcjaTresci{
  font-size:32px;
}
.odpowiedz{
  background-color: grey;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
}

#loginPopUp{
  display: none;
  position: absolute;
  background-color: lightslategray;
  padding: 20px;
  font-weight: 800;
  right: -235px;
  border-radius: 5px;
}
#zaloguj:hover{
  cursor: pointer;
}
.boble{
  margin-top: 40px;
  margin-left: auto;
  margin-right:auto;
  background-color: whitesmoke;
  border-radius: 8px;
  color: black;
  padding: 30px;
  text-align: justify;
  border: 3px solid #e0c52c;
 
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
